<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Chart</title>

    <style>
        .title {
            background-color: yellow;
            color: green;
            border: 2px solid black;
            text-align: center;
        }

        .home_form {
            text-align: center;
        }
    </style>
</head>
<body>

    <div class="title">
        <h1>Expense Tracker</h1>
    </div>

    {{ data }}
    {{ dict }}
    {{ categories }}
    {{ total }}
</body>
</html>